<div class="header">Economy</div>

<div class="h3">The best economy bot for your server</div>
<div class="checkboxes">
  <div class="economy-checkbox">
    <img src="/img/tick.svg" alt="checkbox">
    <div>Money for messages & voice</div>
  </div>
  <div class="economy-checkbox">
    <img src="/img/tick.svg" alt="checkbox">
    <div><b>Robbery system:</b> Store money in wallet and (limited) bank</div>
  </div>
  <div class="economy-checkbox">
    <img src="/img/tick.svg" alt="checkbox">
    <div><b>Moderation integration:</b> Fine users for bad behavior</div>
  </div>
  <div class="economy-checkbox">
    <img src="/img/tick.svg" alt="checkbox">
    <div><b>Leveling plugin integration:</b> Give money on new levels</div>
  </div>
  <div class="economy-checkbox" style="margin-top: 40px;">
    <img src="/img/tick.svg" alt="checkbox">
    <div><b>Games and gambling:</b></div>
  </div>
</div>

<div class="commands">
  <div class="command"><img src="/img/slash.svg" alt="/">
    <div>work</div>
  </div>
  <div class="command"><img src="/img/slash.svg" alt="/">
    <div>blackjack</div>
  </div>
  <div class="command"><img src="/img/slash.svg" alt="/">
    <div>russian-roulette</div>
  </div>
  <div class="command"><img src="/img/slash.svg" alt="/">
    <div>cock-fight</div>
  </div>
  <div class="command"><img src="/img/slash.svg" alt="/">
    <div>roulette</div>
  </div>
  <div class="command"><img src="/img/slash.svg" alt="/">
    <div>rock-paper-scissors</div>
  </div>
  <div class="command"><img src="/img/slash.svg" alt="/">
    <div>tic-tac-toe</div>
  </div>
  <div class="command"><img src="/img/slash.svg" alt="/">
    <div>backpack</div>
  </div>
  <div class="command"><img src="/img/slash.svg" alt="/">
    <div>collect-income</div>
  </div>
</div>
