<div class="icons">
  <div class="icon">
    <img src="/img/icon-economy.svg" alt="Economy" width="32" height="32">
    <div>Economy</div>
  </div>
  <div class="icon">
    <img src="/img/icon-leveling.svg" alt="Leveling" width="32" height="32">
    <div>Leveling system</div>
  </div>
  <div class="icon">
    <img src="/img/icon-moderation.svg" alt="Moderation" width="32" height="32">
    <div>Moderation</div>
  </div>
  <div class="icon">
    <img src="/img/icon-selfroles.svg" alt="Selfroles" width="32" height="32">
    <div>Self roles</div>
  </div>
</div>
