<div class="header">Leveling system</div>

<div class="h3">Leveling you will love! No paywalls.</div>
<div class="checkboxes">
  <div class="economy-checkbox"><img src="/img/tick.svg" alt="checkbox">
    <div>XP for messages & voice</div>
  </div>
  <div class="economy-checkbox"><img src="/img/tick.svg" alt="checkbox">
    <div>Change leveling difficulty through XP config</div>
  </div>
  <div class="economy-checkbox"><img src="/img/tick.svg" alt="checkbox">
    <div><b>Role multipliers</b> to give your vips more XP</div>
  </div>
  <div class="economy-checkbox"><img src="/img/tick.svg" alt="checkbox">
    <div><b>Roles and money rewards</b> when leveling up</div>
  </div>
</div>

<div class="images">
  <div class="image">
    <img src="/img/leveling1.png?as=webp&width=300" alt="">
    <div class="image-desc-title">Boost engagement</div>
    Users can receive XP points for writing messages and being on the voice channels.
  </div>
  <div class="image">
    <img src="/img/leveling2.png?as=webp&width=300" alt="">
    <div class="image-desc-title">Track active users</div>
    Show the most active users in guilds leaderboard. We will generate rank cards for every user so they can track their progress..
  </div>
  <div class="image">
    <img src="/img/leveling3.png?as=webp&width=300" alt="">
    <div class="image-desc-title">Reward users</div>
    You can automatically give money, roles and items when user gains new level..
  </div>
</div>
