<div class="header">There is a lot more of this…</div>

<div class="more">

  <div class="h4">✨ MODERATED CHANNELS</div>
  <p>Use the bot to create channels where a message must meet a condition to be there. For example, you can create an image-only channel. StartIT will simply delete the message if these conditions are not met.</p>

  <div class="h4">✨ AUTO RESPONDER</div>
  <p>Program StartIT to answer the most common user questions... The bot can also automatically give money, XP or roles.</p>

  <div class="h4">✨ STATS</div>
  <p>Display various counters on voice channels such as the number of members, the number of bans, the name of the newest user. StartIT will update these routinely.</p>

  <div class="h4">✨ WELCOMER</div>
  <p>Greet the new users of your server. Let them know they are welcome! You can use this feature to give them information about the server and its rules.</p>

  <div class="h4">✨ AUTO ROLES</div>
  <p>Give your members roles right after they join your server. Make them shine!</p>

  <div class="h4">✨ AUTO CHANNELS</div>
  <p>Let users create their own voice channels. StartIT will delete them as soon as they become empty.</p>

</div>
